<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<pipelines>			
			<getContentEditorWarnings>
				<processor type="Spark.Web.Processors.CustomUrlOnContentEditor, Spark.Web" />
			</getContentEditorWarnings>
		</pipelines>		
	</sitecore>
</configuration>
