<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>    
    <!--<linkManager>
      <patch:attribute name="defaultProvider">sitecore</patch:attribute>
      <providers>
        <clear />
        <add name="sitecore"
             type="Spark.Web.Custom_Code.CustomLinkProvider, Spark.Web"
             addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="always"
             languageLocation="filePath" lowercaseUrls="true" shortenUrls="true" useDisplayName="false" />
      </providers>
    </linkManager>-->
	  <links>
		  <itemUrlBuilder type="Spark.Web.Custom_Code.CustomLinkProvider, Spark.Web" patch:instead="*[@type='Sitecore.Links.UrlBuilders.ItemUrlBuilder, Sitecore.Kernel']">
			  <param type="Sitecore.Links.UrlBuilders.DefaultItemUrlBuilderOptions, Sitecore.Kernel" desc="defaultOptions">
				  <alwaysIncludeServerUrl ref="links/urlBuilder/alwaysIncludeServerUrl"/>
				  <languageEmbedding ref="links/urlBuilder/languageEmbedding"/>
				  <languageLocation ref="links/urlBuilder/languageLocation"/>
				  <lowercaseUrls ref="links/urlBuilder/lowercaseUrls"/>
				  <encodeNames ref="links/urlBuilder/encodeNames"/>
				  <useDisplayName ref="links/urlBuilder/useDisplayName"/>
				  <addAspxExtension>false</addAspxExtension>
				  <siteResolving>true</siteResolving>
				  <shortenUrls>true</shortenUrls>
			  </param>
		  </itemUrlBuilder>
	  </links>
  </sitecore>
</configuration>
