<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>				
				<configuration name="Spark.Templates" description="Spark templates unicorn configuration">
          <targetDataStore physicalRootPath="C:\Users\gopikrishna.reddy\source\repos\SparkSolution\serialization\templates" useDataCache="false"  type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true" />
					<predicate>
            <include name="ProjectTemplates" database="master" path="/sitecore/templates/Project/Spark Book Shop">              
            </include>
            <include name="FeatureTemplates" database="master" path="/sitecore/templates/Feature/Book">              
            </include>            
          </predicate>
				</configuration>
        <configuration name="Spark.Content" description="Spark Content unicorn configuration">
          <targetDataStore physicalRootPath="C:\Users\gopikrishna.reddy\source\repos\SparkSolution\serialization\content" useDataCache="false"  type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true" />
          <predicate>
            <include name="SparkContent" database="master" path="/sitecore/content/Spark">              
            </include>            
          </predicate>
        </configuration>
        <configuration name="Spark.Presentation" description="Spark Presentation unicorn configuration">
          <targetDataStore physicalRootPath="C:\Users\gopikrishna.reddy\source\repos\SparkSolution\serialization\presentation" useDataCache="false"  type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true" />
          <!--<evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>-->
          <predicate>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Spark">              
            </include>
            <include name="Layout" database="master" path="/sitecore/layout/Layouts/Spark">
              <!--<exclude children="true">                
              </exclude>-->
            </include>
          </predicate>
        </configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>