<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>    
    <linkManager>
      <patch:attribute name="defaultProvider">sitecore</patch:attribute>
      <providers>
        <clear />
        <add name="sitecore"
             type="Spark.Web.Custom_Code.CustomLinkProvider, Spark.Web"
             addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="always"
             languageLocation="filePath" lowercaseUrls="true" shortenUrls="true" useDisplayName="false" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>
