
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>				
				<configuration name="Spark.Templates" description="Spark templates unicorn configuration">
          <!--<targetDataStore physicalRootPath="c:\users\gopikrishna.reddy\source\repos\sparksolution\serialization" useDataCache="false"  type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true" />-->
					<predicate>					
						<include name="Templates" database="master" path="/sitecore/templates/project" />
            <include name="FeatureTemplates" database="master" path="/sitecore/templates/feature">
              <exclude path="/sitecore/templates/Feature/Experience Accelerator"></exclude>
              <exclude path="/sitecore/templates/Feature/JSS Experience Accelerator"></exclude>
            </include>
            <include name="SparkRenderings" database="master" path="/sitecore/layout/Renderings/Spark">              
            </include>
          </predicate>
				</configuration>
        <configuration name="Spark.Content" description="Spark Content unicorn configuration">
          <!--<targetDataStore physicalRootPath="c:\users\gopikrishna.reddy\source\repos\sparksolution\serialization" useDataCache="false"  type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true" />-->
          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <predicate>
            <include name="SparkContent" database="master" path="/sitecore/content/Home">
              <exclude children="true">                
              </exclude>
            </include>            
          </predicate>
        </configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
